.center {
    margin: auto;
    width: 60%;
}

.box {
  color: #fff;
  padding: 0px;
  text-align: center;
}

.box_odd {
  background-color: #D3D3D3;
}

.box_even {
  background-color:#D3D3D3;
}

.box_odd:nth-child(even) {
  background-color: #A9A9A9;
}

.box_even:nth-child(odd) {
  background-color: #A9A9A9;
}

.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  grid-auto-flow: row;
}

.glyphicon {
    font-size: 50px;

    border-radius: 50%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.glyphicon:active {
  box-shadow: 0 1px 0 #00823F;
}

.glyphicon-plus-sign{
  color: #009933;
}

.glyphicon-minus-sign{
  color: #0066ff;
}

.right {
  position: absolute;
  top: 20px;
  right: 20px;
}


#logout_wrapper .text_leave {
  position: absolute;
  top: 80px;
  right: 20px;
  visibility:hidden;
}

#logout_wrapper:hover .text_leave {
  visibility:visible;
}

.glyphicon-log-out{
  font-size: 50px;
}

span {
  display: inline-block;
  width: 500px;
}

