<div id="welcome">
   <h2 id="welcome_intro">Welcome!</h2>
   <div id="welcome_btn_group" class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
         <button id="invite_opponent" type="button" class="btn btn-default">Invite opponent</button>
      </div>
      <div class="btn-group" role="group">
         <button id="i_am_invited" type="button" class="btn btn-default">I'm invited</button>
      </div>
    </div>
   


    <div id="enter_username">
   	<div class="input-group">
      <input id="username" type="text" class="form-control" placeholder="Enter username...">
      <span class="input-group-btn">
        <button id="go" class="btn btn-default" type="button">Go</button>
      </span>
    </div>
   </div>


   <div id="show_room">
   	<span>Room key: </span><span id="room_key"></span>
   </div>


   <!--   i am invited   -->


   <div id="enter_room_key">
	<div class="input-group">
      <input id="room_key_invited" type="text" class="form-control" placeholder="Enter room key...">
      <span class="input-group-btn">
        <button id="go_invited" class="btn btn-default" type="button">Go</button>
      </span>
    </div>
   </div> 




   <div id="enter_username_invited">
   	<div class="input-group">
      <input id="username_invited" type="text" class="form-control" placeholder="Enter username...">
      <span class="input-group-btn">
        <button id="go_invited_username" class="btn btn-default" type="button">Go</button>
      </span>
    </div>
   </div>



</div>
<script src="/static/js/welcome.js"></script>